@charset "UTF-8";
body {
  margin: 0 auto;
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 0, 0.02)), to(rgba(255, 255, 0, 0.24))), url(../img/piano-top.jpg);
  background-image: -webkit-linear-gradient(rgba(255, 255, 0, 0.02), rgba(255, 255, 0, 0.24)), url(../img/piano-top.jpg);
  background-image: -o-linear-gradient(rgba(255, 255, 0, 0.02), rgba(255, 255, 0, 0.24)), url(../img/piano-top.jpg);
  background-image: linear-gradient(rgba(255, 255, 0, 0.02), rgba(255, 255, 0, 0.24)), url(../img/piano-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 314vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*-1 可以当背景*/
  -webkit-filter: blur(2px);
  filter: blur(2px); }

/* header */
header {
  background-color: #fff; }

.shape-separator {
  position: relative;
  height: 48px;
  background: #ae8319; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.shape-separator::after {
  content: '';
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxLjQxNCI+PHBhdGggZD0iTTEyIDEybDEyIDEySDBsMTItMTJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: 0; }

.sibling-fade li {
  padding: 0 0.2rem;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.sibling-fade:hover li a:not(:hover) {
  opacity: 0.5; }

/* header-end */
/* main */
main {
  background-color: #fff; }

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

main .title, main .main-title {
  text-align: center;
  margin: 20px;
  padding: 5px; }

main .title {
  margin-top: 0; }

/* main-end */
/* footer */
footer {
  background-color: #fcc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: #212121;
  color: white; }

/* footer-end */
