//預設是等腰三角形，如要做正三角形，請將type預設變數改為0.8666666 
@mixin triangle ($size, $color, $align,$type:1){
  height: 0;
  width: 0;
  @if $align == top {
    border-bottom: ($size * $type) solid $color;
    border-left: ($size/2) solid transparent;
    border-right: ($size/2) solid transparent;}
  @else if $align == right {
    border-left: ($size*$type) solid $color;
    border-top: ($size/2) solid transparent;
    border-bottom: ($size/2) solid transparent;}
  @else if $align == bottom {
    border-top: ($size*$type) solid $color;
    border-left: ($size/2) solid transparent;
    border-right: ($size/2) solid transparent;}
  @else if $align == left {
    border-right: ($size*$type) solid $color;
    border-top: ($size/2) solid transparent;
    border-bottom: ($size/2) solid transparent;}
  @else if $align == right-top {
    border-right: $size solid $color;
    border-bottom: $size solid transparent;}
  @else if $align == left-top {
    border-left: $size solid $color;
    border-bottom: $size solid transparent;}
  @else if $align == right-bottom {
    border-right: $size solid $color;
    border-top: $size solid transparent;}
  @else if $align == left-bottom {
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
}