header * {
  border: 1px solid goldenrod; }

main * {
  border: 1px solid blue; }

footer * {
  border: 1px solid greenyellow; }

body {
  overflow: hidden;
  background: #633636;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows: 1fr 350px 1fr; }

* {
  position: relative; }

.middleCircle {
  height: 350px;
  width: 350px;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  border-radius: 50%; }

.middleCircle::after {
  content: '';
  display: block;
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  top: -20px;
  left: -20px;
  border: solid 10px #fad1d1;
  border-radius: 50%; }

.backCircle {
  height: 350px;
  width: 350px;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  -webkit-animation: spin 24s linear infinite;
  animation: spin 24s linear infinite;
  background-color: #fff; }

.smallCircle {
  position: absolute;
  width: 60px;
  height: 420px;
  left: calc(50% - 150px);
  top: -680px;
  -webkit-transform-origin: 200% 200%;
  -ms-transform-origin: 200% 200%;
  transform-origin: 200% 200%; }

.smallCircle::after {
  content: '';
  display: block;
  height: 300px;
  width: 480px;
  border: solid 10px #633636;
  background-color: #fad1d1;
  border-radius: 0%; }

.card {
  background-color: wheat;
  padding: 4px;
  width: 14vw;
  height: 20%;
  position: absolute;
  top: 110px;
  left: -50px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
  .card h2,
  .card p {
    font-size: 24px; }

.smallCircle:nth-child(1) {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); }

.smallCircle:nth-child(2) {
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg); }

.smallCircle:nth-child(3) {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.smallCircle:nth-child(4) {
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg); }

.smallCircle:nth-child(5) {
  -webkit-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  transform: rotate(200deg); }

.smallCircle:nth-child(6) {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.smallCircle:nth-child(7) {
  -webkit-transform: rotate(280deg);
  -ms-transform: rotate(280deg);
  transform: rotate(280deg); }

.smallCircle:nth-child(8) {
  -webkit-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  transform: rotate(320deg); }

.smallCircle:nth-child(9) {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
