@import 'mixin/_hover';
// ----- Box-sizing ----- // 
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
ul li{
    list-style-type:none;
    margin: 0px;
    }
a{
color: $link-color;
    @include link-hover{
        color: $link-color-hover;
        text-decoration:none;
    }
    }